:root {
  --surface-a: #ffffff;
  --surface-b: #fafafa;
  --surface-c: #f4f4f5;
  --surface-d: #e5e7eb;
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --text-color: #3f3f46;
  --text-color-secondary: #71717a;
  --primary-color: #1978a4;
  --primary-color-text: #ffffff;
}
